:root {
  --primaryBackgroundColor: #D3D3D3;
  --secondaryBackgroundColor: #faf9f8;
  --primaryTextColor: #140306;
  --secondaryTextColor: #303030;
  --shadowColor: #222222;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primaryBackgroundColor);
  font-family: Helvetica;
}

.dark {
  --primaryBackgroundColor: #131414;
  --secondaryBackgroundColor: #242526;
  --primaryTextColor: #fff;
  --secondaryTextColor: #686868;
  --shadowColor: gray;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--secondaryTextColor);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid var(--secondaryTextColor);
  background: var(--primaryBackgroundColor);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--primaryTextColor);
}

* {
  color: var(--primaryTextColor);
}

ul > li {
  list-style: circle;
}

ul {
  margin-block-start: 4px;
  margin-block-end: 10px;
  padding-inline-start: 30px;
}

h1 {
  font-size: 22px;
  border-bottom: 1px solid var(--primaryTextColor);
}

h2 {
  font-size: 18px;
  margin: 0;
}

.container {
  box-shadow: 0 0px 4px 1px var(--shadowColor);
  width: 70%;
  margin: auto auto;
  background-color: var(--secondaryBackgroundColor);
  box-sizing: border-box;
  padding: 20px;
  transition: all 0.3s ease-in;
}

.section {
  margin: 10px 10px;
}

.moon,
.sun {
  display: none;
  margin: auto auto;
  user-select: none;
}

.themeSwitch {
  margin: 12px;
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  width: auto;
  border: none;
  background: none;
  color: inherit;
  border-radius: 50%;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 35px;
  width: 35px;
  border: 1px solid var(--primaryTextColor);
  border-radius: 50%;
  transition: all 0.3s ease-in;
  user-select: none;
}

.themeSwitch:hover {
  transform: scale(1.2) rotate(360deg);
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
